---

title: "Herzlich Willkommen"
lang: "de"
layout: "plain"

---

<div class="row">
    <div class="col-md-12">

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% link /assets/main/image1.png %}" class="d-block w-100" alt="dkdk">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Solarkataster der Stadt Olten</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% link /assets/main/image2.jpeg %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fix-Punkte Protokoll Mezzovico - Basis Orthofoto</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% link /assets/main/image3.png %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% link /assets/main/image4.png %}" class="d-block w-100" alt="dkdk">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h1>QGIS Anwendergruppe Schweiz</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center fw-bold mt-2 mb-2">
        Die QGIS Anwendergruppe Schweiz (kurz QGIS-CH) ist eine unabhängige, nicht
        profitorientierte Vereinigung von QGIS Benutzer zur Förderung und Koordination
        von Weiterentwicklungen von QGIS sowie zum Erfahrungsaustausch und
        Vernetzung unter Vereinsmitglieder.
    </div>
    <div class="col-md-12 text-center mt-2 mb-5">
        Die Anwendergruppe ist ein Verein im Sinne des schweizerischen
        Zivilgesetzbuches Artikel 60 bis 79.
        Derzeit gibt es über 100 Mitglieder, zusammengesetzt aus Behörden, Firmen, Universitäten und
        Einzelpersonen. QGIS-CH ist ein stimmberechtigtes Mitglied der internationalen
        <a href="https://qgis.org/en/site/getinvolved/governance/charter/index.html" class="external-link" target="_blank">QGIS.ORG Association</a>.
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col-md-8">
        <div class="row mt-3">
            <div class="col">
                <h2>Über QGIS</h2>
                QGIS ist eine GIS Plattform bestehend aus den Komponenten Desktop-GIS, Server-GIS,
                Web-GIS Client und Mobile-GIS. QGIS Desktop ist eine benutzerfreundliche GIS
                Anwendung für das Erstellen von Karten und Layouts, das Bearbeiten und Analysieren
                von Geodaten. QGIS unterstützt alle gängigen GIS Vektorformate,
                Datenbanken insbesondere PostGIS, Rasterformate und Webdienste,
                aber auch dreidimensionale Datensätze wie Punktwolken und Mesh-Layer.
                Weiter bietet QGIS eine stabile Progammierschnittstelle für
                Python an, mit welcher eigene Verarbeitungswerkzeuge oder
                Erweiterungen bis hin zu eigenständigen Anwendungen entwickelt
                werden können.
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h2>Über den Verein</h2>
                Die Ziele der QGIS Anwendergruppe Schweiz sind:
                <ul>
                    <li>
                        Koordination von QGIS Entwicklungen und verfügbaren
                        finanziellen Ressourcen für Funktionen, die von
                        Interesse sind für die Schweizer QGIS Anwender
                    </li>
                    <li>
                        Vermarktung von QGIS innerhalb der Schweiz, z. B. durch
                        Orientierungen, Fallstudien, Informationsveranstaltungen
                        oder Artikeln in relevanten Medien
                    </li>
                    <li>
                        Organisation der jährlichen Schweizer QGIS Anwendertreffen
                    </li>
                    <li>
                        Die Initialisierung der Entwicklung von QGIS basierten
                        Anwendung (z.B.: Leitungskataster, Vermessung, Raumplanung,
                        Abwasser/GEP, etc.)
                    </li>
                    <li>
                        Informationen über aktuelle Entwicklungen und Initiativen
                        an die Mitglieder des Vereins
                    </li>
                    <li>
                        Unterstützung von Forschung und Studien rund um QGIS und
                        verwandte OSGeo Projekte
                    </li>
                    <li>
                        Sponsoring des allgemeinen QGIS Projekts und der Community.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <a class="btn btn-primary" href="{% link assets/pdf/QGIS Usergruppe Beitrittserklaerung.pdf %}" role="button">
                    <span style="color: white;" class="external-link">
                        Jetzt Mitglied werden
                    </span>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h2>Hilfe zu QGIS finden</h2>
                <p>Mailingliste für Mitglieder der Anwendergruppe Schweiz:
                    <a class="external-link"
                       href="http://lists.qgis.ch/mailman/listinfo/verein/">
                        http://lists.qgis.ch/mailman/listinfo/verein/
                    </a>
                </p>
                <p>Mailingliste der News für Schweizer Nutzer:
                    <a class="external-link"
                       href="http://lists.qgis.ch/mailman/listinfo/qgis-news/">
                        http://lists.qgis.ch/mailman/listinfo/qgis-news/
                    </a>
                </p>
                <p>QGIS Benutzer Mailingliste (Englisch-sprachig):
                    <a class="external-link"
                       href="https://lists.osgeo.org/mailman/listinfo/qgis-user">
                        https://lists.osgeo.org/mailman/listinfo/qgis-user
                    </a>
                </p>
                <p>
                    #QGIS auf gis.stackexchange.com:
                    <a href="https://gis.stackexchange.com/#qgis"
                       class="external-link" target="_blank">
                        https://gis.stackexchange.com/#qgis
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 font-size-sm mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Neuigkeiten</h2>
            </div>
            <div class="col-md-12">
                {% for post in site.posts limit:15 %}
                {% if post.lang == "de" %}
                <div class="card mb-1 mt-1"> <!-- style="width: 18rem;"-->
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            veröffentlicht am {{ post.date | date: "%d. %b %Y"}}
                        </h6>
                        <p class="card-text">{{ post.excerpt }}</p>
                        <a href="{{ post.url }}" class="card-link">
                            Weiter lesen
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
