# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: QGIS Anwendergruppe Schweiz - Groupe d'utilisateurs QGIS Suisse - Gruppo di Utenti QGIS Svizzera
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: QGISCH
github_username:  qgis-ch

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

defaults:
  - scope:
      path: "assets/img"
    values:
      image: true
  - scope:
      path: "de"
    values:
      lang: "de"
      layout: "plain"
      description: >-
        Die QGIS Anwendergruppe Schweiz (kurz QGIS-CH) ist eine unabhängige, nicht
        profitorientierte Vereinigung von QGIS Benutzer zur Förderung und Koordination
        von Weiterentwicklungen von QGIS sowie zum Erfahrungsaustausch und
        Vernetzung unter Vereinsmitglieder. 

  - scope:
      path: "fr"
    values:
      lang: "fr"
      layout: "plain"
      description: >-
        Le Groupe d'utilisateurs QGIS Suisse (en abrégé QGIS-CH) est une association
        indépendante et sans but lucratif des utilisateurs de QGIS pour la promotion et
        la coordination des développements de QGIS ainsi que pour l'échange d'expériences
        et de mise en réseau des membres de l'association.
        

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - /scripts/
  - README.md
