<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo.png" alt="Q" width="30" height="24">
   </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% link fr/index.md %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class='nav-link {% if page.url contains "verein" %}active{% endif %} dropdown-toggle' href="{% link fr/association/index.md %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Association
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
<li><a class="dropdown-item" href="{% link fr/association/index.md %}">À propos de l'association</a></li>
<li><a class="dropdown-item" href="{% link fr/association/assemblees-generales.md %}">Assemblées Générales</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class='nav-link {% if page.url contains "news" %} active {% endif %}' href="{% link fr/news/index.md %}">News</a>
        </li>
 <li class="nav-item dropdown">
          <a class='nav-link {% if page.url contains "veranstaltungen" %}active{% endif %} dropdown-toggle' href="{% link fr/reunions/index.md %}" id="navbarDropdownVeranstaltungen" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Réunions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% assign sorted_pages = site.pages | sort:"year" | reverse %}
            {% for p in sorted_pages %}
  {% if p.path contains "reunions" and p.name != "index.md" %}
<li><a class="dropdown-item" href="{{ p.url }}">{{ p.title }}</a></li>
  {% endif %}
{% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class='nav-link {% if page.url contains "projets-de-soutien" %}active{% endif %}' href="{% link fr/projets-de-soutien/index.md %}">Projets de soutien</a>
        </li>
        <li class="nav-item">
          <a class='nav-link {% if page.url contains "sujets" %}active{% endif %}' href="{% link fr/sujets/index.md %}">Sujets</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       <li class="nav-item ms-auto">
          <a class="nav-link" href="/de/">deutsch</a>
       </li>
     </ul>
      </ul>
    </div>
  </div>
</nav>
