<div style="text-align: center;">
    <video id="my-video" class="video-js vjs-fluid" controls preload="auto" width="856" height="482"
        poster="{% link /assets/video/{{ include.id }}.png %}" data-setup="{}">
        <source src="{% link /assets/video/{{ include.id }}.mp4 %}" type="video/webm" />
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</div>