/* Custom colors and font according to the Visual Style Guide https://qgis.org/en/site/getinvolved/styleguide.html */

$primary: #589632;
$primary-dark: #589632;
$primary-light: #93b023;
$secondary-lemon: #f0e64a;
$secondary-orange: #ee7913;

$font-family-base: 'TruenoRegular';
