{% if data|length >= 1 %}
<table class="table table-striped-columns">
    <tbody>
        <tr>
            <th>{{ header[0] }}</th><th>{{ header[1] }}</th><th>{{ header[2] }}</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{ d[0] }}</td><td>{{ d[1] }}</td><td><a href="{{ d[2] }}" class="external-link">{{ d[2] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    {% if lang == "de" %}
    <i>Keine bevorstehenden Veranstaltungen oder Kurse eingetragen</i>
    {% else %}
    <i>Aucun événement ou cours à venir</i>
    {% endif %}
{% endif %}
