name: Build and deploy website
run-name: ${{ github.repository }} is built and deployed
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 22 1,15 * *"
  workflow_dispatch:

jobs:
  Jekyll:
    name: Build Jekyll site and deploy it to the web server
    runs-on: ubuntu-latest
    steps:
      - run: echo "Branch is ${{ github.ref }} in repository ${{ github.repository }} is built and deployed."
      
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup Ruby environment
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
          cache-version: 0

      - name: Download recordings to build website
        run: |
          wget -P assets/video/ https://www.qgis.ch/assets/video/2021-05-12_Recording_QGISLocator.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2021-11-24_Recording_LIDARDatenVisualisieren.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2022-02-16_Recording_AnnotationLayer.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2022-03-16_Recording_QGISReportingTool.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2022-05-11_Recording_Konstruktionswerkzeuge.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2023-02-15_Recording_RelationsInQGIS.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2023-03-22_Recording_QGISandPostGIS.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2023-05-16_Recording_QGISandESRI.mp4
          wget -P assets/video/ https://www.qgis.ch/assets/video/2023-11-28_Recording_MultilinugalLayerLabelling.mp4

      - name: Build website with Jekyll
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}" --strict_front_matter
        env:
          JEKYLL_ENV: production
          JEKYLL_LOG_LEVEL: warn

      - name: Copy the files to the server using rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avx --delete --exclude=".htaccess" --exclude="/invoice" --exclude="/invoice-usermeeting" --exclude="/assets/video/*.mp4"
          path: _site/*
          remote_path: ${{ secrets.SSH_REMOTE_PATH }}
          remote_host: ${{ secrets.SSH_REMOTE_HOST }}
          remote_user: ${{ secrets.SSH_REMOTE_USER }}
          remote_key: ${{ secrets.SSH_REMOTE_KEY }}
          remote_key_pass: ${{ secrets.SSH_REMOTE_KEY_PASS }}
